.add-user{
    background-color:#6697A7;
    border-radius:7px;
    color:white;
    border:0px;
    width:13%;
    height:40px;
    margin-bottom:30px;
    margin-top:30px;
    margin-left:30px;
  }
  #rowx_title{
    width:100%;
  }